<li class="comment-item">
  <%= gravatar_for comment.user%>
  <div class="comment-content w-100">
    <p class="comment-content__userName"><%=comment.user.full_name%></p>
    <p class="thanksCard--maxline comment-content__text" id="comment-<%=comment.id%>">
      <%=comment.comment_content%>
    </p>
    <span class="comment-content__time">
      <%if current_user?(comment.user)%>
        <span class ="me-2 py-2 text-dark edit-comment" >edit</span>
        <span class ="me-2 py-2 text-dark delete-comment" >delete</span>
      <% end %>
      <%= time_ago_in_words(comment.updated_at) %>
      <% if comment.created_at !=  comment.updated_at%>
        <% if !comment.thanks_card.delete_status %>
          <p class="m-0"> Updated <%= time_ago_in_words(comment.updated_at) %> ago. </p>
        <% else %>
          <p class="m-0"> Delete <%= time_ago_in_words(comment.updated_at) %> ago. </p>
        <%end%>
      <% end %>
    </span>
  </div>
</li>
