<input type="hidden" id="count_thankscard" value="<%= @all%>">
<input type="hidden" id="count_send" value="<%= @count_tkcard%>">
<input type="hidden" id="count_receiver" value="<%= @count_receiver%>">
<div class="tab-content m-3">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="row">
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Detailed statistics</h5>
            <canvas id="myChart" style="width:100%; height:345px"></canvas>
          </div>
        </div>
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Top 1 Sent</h5>
            <div class="team-boxed position-relative" style="height:345px">
              <div class="container">
                <div class="row people d-flex justify-content-center">
                  <% @user_send.each do |items| %>
                    <div class="col-md-6 col-lg-6 user-send-item item">
                      <div class="box"><%= avatar_for items%>
                        <h3 class="name"><%= items.full_name%></h3>
                        <p class="description">hãy gửi thư đến <span style="color:#000; font-style: italic;"><%= items.email%></span> để tạo thankscard với <%= items.full_name%></p>
                        <div class="social">
                          <a href="#"><i class="fa-solid fa-envelope"></i></a>
                          <a href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </div>
              </div>
              <%if (!@user_send.nil? && @user_send.count > 2)%>
                <button class="control prev" type="button" style="left: 22px;">
                  <span class="control-icon"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
                </button>
                <button class="control next" type="button" style="right: 22px">
                  <span class="control-icon"><i class="fa-solid fa-chevron-right"></i></span>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <h5 class="card-title">Top 1 receiver</h5>
            <div class="team-boxed position-relative" style="height:345px">
              <div class="container">
                <div class="row people d-flex justify-content-center">
                  <% @user_receiver.each do |items| %>
                    <div class="col-md-6 col-lg-6 item user-receiver-item">
                      <div class="box"><%= avatar_for items%>
                        <h3 class="name"><%= items.full_name%></h3>
                        <p class="description">hãy gửi thư đến <%= items.email%> để tạo thankscard với <%= items.full_name%></p>
                        <div class="social">
                          <a href="#"><i class="fa-solid fa-envelope"></i></a>
                          <a href="#"><i class="fa-sharp fa-solid fa-user"></i></a>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </div>
              </div>
              <%if (!@user_receiver.nil? && @user_receiver.count > 2)%>
                <button class="control prev" type="button" style="left: 22px;">
                  <span class="control-icon"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
                </button>
                <button class="control next" type="button" style="right: 22px">
                  <span class="control-icon"><i class="fa-solid fa-chevron-right"></i></span>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "chart.js" %>
<%= javascript_include_tag "view_report_user.js" %>
