<div class="container posts-content posts--css">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <%= gravatar_for thanks_card.user%>
              <div class="d-flex flex-column ml-3">
                <%= thanks_card.user.full_name %>
                <div class="text-muted small">3 days ago</div>
              </div>
            </div>
            <div class="thanksCard" id="thanksCard-<%= thanks_card.id %>">
              <%= render 'thanks_card/category_thanks_card' %>
            </div>
          </div>
          <div class="card-comment">
            <div class="new-comment">

            </div>
            <div class="card-all-comment">
                <%= render 'thanks_card/comment_thanks_card' %>
            </div>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0)"
                          class="d-inline-block text-muted ml-3 text-decoration-none">
              <strong>12</strong> <small class="align-middle">Comments</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
