<% if thanks_card.id == 1 %>
  <div class="thanksCard--bg thanksCardWendding">
    <div class="thanksCardWendding__container">
      <p class="thanksCardWendding__title thanksCard--maxline"><%= thanks_card.title %></p>
      <h1 class="thanksCardWendding__Content thanksCard--maxline"><%= thanks_card.content %></h1>
      <p class="thanksCardWendding__description thanksCard--maxline"><%= thanks_card.description %></p>
    </div>
  </div>
<% elsif thanks_card.id == 2 %>
  <div class="thanksCard--bg thanksCardHelp">
    <div class="thanksCardHelp__container">
      <h1 class="thanksCard--maxline thanksCardHelp__title">
        <%= thanks_card.title %>
      </h1>
      <p class="thanksCard--maxline thanksCardHelp__description">
        <%= thanks_card.description %>
      </p>
      <p class="thanksCard--maxline thanksCardHelp__underwrite">
        <%= thanks_card.content %>
      </p>
    </div>
    <div style="clear: both"></div>
  </div>
<% else %>
  <div class="thanksCard--bg thanksCardCristmast">
    <div class="thanksCardCristmast__container">
      <p class="thanksCardCristmast__title thanksCard--maxline"><%= thanks_card.title %></p>
      <h1 class="thanksCardCristmast__Content thanksCard--maxline"><%= thanks_card.content %></h1>
      <p class="thanksCardCristmast__description thanksCard--maxline"><%= thanks_card.description %></p>
    </div>
  </div>
<% end %>

