<div id="newThanksCard">
  <div class="newThanksCard__select d-flex align-items-center">
    <h2 class="newThanksCard__title">select option ThanksCard:</h2>
    <ul class="newThanksCard__list d-flex">
      <li id="1" class="newThanksCard__item btn btn-primary me-3 <%= 'active' if @thankscard.category_id == 1 %>">ThanksCard Wendding</li>
      <li id="2" class="newThanksCard__item btn btn-primary me-3 <%= 'active' if @thankscard.category_id == 2 %>">ThanksCard Helping</li>
      <li id="3" class="newThanksCard__item btn btn-primary me-3 <%= 'active' if @thankscard.category_id == 3 %>">ThanksCard Cirtmast</li>
    </ul>
  </div>
  <div id="newThanksCard__form">
    <div class="container my-5 d-flex justify-content-center">
      <%= form_with(model: @thankscard, url: thanks_card_path, local: true, html: { class: "thanksCard", id: "thanksCard__form" }) do |f| %>
        <%= render 'error/error_message', object: f.object %>
        <div>
          <%= f.hidden_field :title ,id: "thankscard__title"%>
          <%= f.hidden_field :content , id: "thankscard__content" %>
          <%= f.hidden_field :description, id: "thankscard__description" %>
          <%= f.hidden_field :category   ,id: "thankscard__category_id"%>
          <div id="thanksCard--selected">
            <%= render partial: 'thanks_card/form_thanks_card', locals: { thanks_card: @thankscard } %>
          </div>
        </div>
        <% if (@thankscard.image.count != 0 && !@thankscard.image.nil?) %>
          <div class="thanksCard__image position-relative" id="thanksCard__image">
            <p class="thanksCard__image-title">Edit Images(Has <%=@thankscard.image.count%> image)</p>
            <div class=" d-flex flex-row justify-content-center bd-highlight mb-3 thanksCard__image-list">
              <%= f.file_field :image, class: "d-none", multiple: true , id: "lstimage"%>
              <%= f.hidden_field :edit, id: "lstimage-edit"%>
              <% @thankscard.image.each do |items| %>
                <div class="thanksCard__image-item col-3 list-inline-item">
                  <div>
                    <div class="mb-4 d-flex justify-content-center">
                      <%= image_tag(items, class: "h-124 w-100", id: "img#{items.id}" )%>
                    </div>
                    <div class="d-flex justify-content-center">
                      <%= f.file_field :images, class: "form-control d-none customFile", id: "inputfile-#{items.id}"%>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
            <% if (@thankscard.image.count > 4) %>
              <button class="control prev" type="button" >
                <span class="control-icon"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
              </button>
              <button class="control next" type="button" >
                <span class="control-icon"><i class="fa-solid fa-chevron-right"></i></span>
              </button>
            <% end %>
          </div>
        <%else%>
          <div class="thanksCard__image" id="thanksCard__image">
            <p class="thanksCard__image-title">Add Images</p>
            <div class="d-flex flex-row justify-content-center bd-highlight mb-3 thanksCard__image-list" id="thanksCard__image-list">
              <%= f.file_field :image, class: "d-none", multiple: true , id: "lstimage"%>
              <div class="thanksCard__image-item col-3 list-inline-item">
                <div>
                  <div class="mb-4 d-flex justify-content-center">
                    <%= image_tag("https://mdbootstrap.com/img/Photos/Others/placeholder.jpg", class: "h-124 w-100")%>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary btn-rounded" id="btn-add-image">
                      <label class="form-label text-white m-1" for="customFile">Add Image</label>
                      <%= f.file_field :images, class: "form-control d-none customFile", id: "customFile"%>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="thanksCard__image-item col-3 list-inline-item">
                <div>
                  <div class="mb-4 d-flex justify-content-center">
                    <%#= image_tag("https://mdbootstrap.com/img/Photos/Others/placeholder.jpg", class: "h-124 w-100", id: "img1")%>-->
<!--                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="btn btn-primary btn-rounded">
                      <label class="form-label text-white m-1" for="customFile1">Add Image</label>
                      <%#= f.file_field :images, class: "form-control d-none customFile", id: "customFile1"%>-->
<!--                    </div>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        <% end %>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%#= javascript_include_tag "multi-selection.js" %>
<%= javascript_include_tag "getdata_thankscard.js" %>
<%= javascript_include_tag "select-option-thanksCard.js" %>
<%= javascript_include_tag "multi-select-tag.js" %>
<% if (@thankscard.image.count != 0 && !@thankscard.image.nil?) %>
  <%= javascript_include_tag "get_image_edit.js" %>
  <%= javascript_include_tag "view_image_send.js" %>
<% else %>
  <%= javascript_include_tag "create_new_image.js" %>
<%end%>
<%#= javascript_include_tag "multi-selection.js" %>
