<% provide(:title, 'Sign up') %>
<div class="bg-white p-4 h-100">
  <%= form_with(model:@user, url: user_index_path, local: true) do |f| %>
    <%= render 'error/error_message', object: f.object %>
    <div class="p-3 d-flex justify-content-center flex-column align-items-center">
      <span class="main-heading">Sign Up</span>
      <ul class="social-list mt-3">
      </ul>
      <div class="form-data">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, class: 'form-control w-100' , placeholder: "please enter your full name"%>
      </div>
      <div class="form-data">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control w-100' , placeholder: "please enter your email"%>
      </div>
      <div class="form-data">
        <%= f.label :phoneNumber %>
        <%= f.text_field :phoneNumber, class: 'form-control w-100' , placeholder: "please enter your full phoneNumber"%>
      </div>
      <div class="form-data">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control w-100' , placeholder: "please password your password"%>
      </div>
      <div class="form-data">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control w-100' , placeholder: "confirm your password"%>
      </div>
      <div class="signin-btn w-100 mt-2"> <button class="btn btn-primary btn-block">Signin</button>
      </div>
    </div>
  <% end %>
</div>
